// primary colors
$color-primary-blue: #0A66C2;
$color-primary-white: #FFFFFF;
$color-primary-purple: #6667ab;
$color-primary-dark: #333333;
$color-primary-bg: #f6f8fa;
$color-primary-bg-dark: #e9ecf0;
$color-primary-green: #62df59;
$color-primary-white: #ffffff;
$color-primary-alert: #ec0d0d;

// secondary
$color-secondary-bg: #f6f8fabd;
$color-secondary-dark: #d3d3d3;
$color-secondary-green: #dff6da;

// box shadows
$color-shadow-1: rgba(0, 0, 0, 0.1);
$color-shadow-2: rgba(0, 0, 0, 0.2);
$color-shadow-5: rgba(0, 0, 0, 0.5);
$color-shadow-8: rgba(0, 0, 0, 0.8);

// misc
$color-disabled: #dcdcdc;